<% layout('layouts/boilerplate')%>

<div class="card" style="margin: 0; position: absolute; top: 50%; left: 40%; right: 40%; -ms-transform: translateY(-50%); transform: translateY(-50%);">
      <a href="/read" class="btn btn-info">Perform Read Task</a>
    
</div>